**/.classpath
**/.project
**/.settings/**
**/.idea/**
**/local_maven_repo/**
target/**
ares-apps/target/**
ares-apps/xml/target/**
ares-core/kafka/target/**
ares-core/common/target/**
ares-core/xml/target/**
ares-core/compute/target/**
ares-core/incident/target/**
ares-core/unity/target/**
node_service/target/**
test/system-tests/target/**
tools/target/**
coverage/target/**
ares-core/action/target/**
ares-apps/conf/derby/**
ares-apps/conf/temp_hdfs/**
ares-apps/conf/custom/**
test/system-tests/spark_test/**
test/system-tests/elastic_test/**
test/system-tests/roles/**
test/system-tests/conf/derby/**
test/system-tests/conf/log4j.properties
**/*.tar.gz
**/*.iml
ares-core/target/**
test/system-tests/elastic/target/**
test/system-tests/derby.log
test/system-tests/data/*
ares-core/task/target/**
ares-core/compute/eclipseout/**
tools/install/**
**/build.properties
**/hdfs_cache/**
**/.DS_Store
dev/**
test/system-tests/conf/platform.json
